{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('ebb_form_new') }}">new</a></li>
    </ul>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
